#News
UCXIJgqnII2ZOINSWNOGFThA #Fox
UC8p1vwvWtl6T73JiExfWs1g #CBS
UCCj956IF62FbT7Gouszaj9w #BBC
UCblRUzFBLHQvxcnbD6WCoSw #ABC
UCaXkIU1QidjPwiAYu6GcHjg #MSNBC
UChDKyKQ59fYz3JO2fl0Z6sg #TODAY
UCblRUzFBLHQvxcnbD6WCoSw #Vice-tv

#Food
UCJHA_jMfCvEnv-3kRjTCQXw #Binging with Babish

#Sports
UCqZQlzSHbVJrwrn5XvzrzcA #NBC Sport
UCTl3QQTvqHFjurroKxexy2Q #Olympic

#Edu
UC9MAhZQQd9egwWCxrwSIsJQ #History
UCX6b17PVsYBQ0ip5gyeme-Q #Crash Course
UCu6mSoMNzHQiBIOCkHUa2Aw #Cody's Lab
UChWv6Pn_zP0rI6lgGt3MyfA #AvE
UCivA7_KLKWo43tFcCkFvydw #applied science
UC4a-Gbdw7vOaccHmFo40b9g #kahn Academy
UCEBb1b_L6zDS3xTUrIALZOw #MIT OpenCourseWare
UCLA_DiR1FfKNvjuUpBHmylQ #NASA
UCZYTClx2T1of7BRZ86-8fow #Sci Show
UCAuUUnT6oDeKwE6v1NGQxug #TED
UCsooa4yRKGN_zEE8iknghZA #TED-Ed
UCsT0YIqwnpJCM-mx7-gSA4Q #TEDx

#Entertainment
UC6E2mP01ZLH_kbAyeazCNdg #Brave wilderness
UCwmZiChSryoWQCZMIQezgTg #BBC earth
UCqOoboPm3uhY_YXhvhmL-WA #Discovery
UCblRUzFBLHQvxcnbD6WCoSw #JRE Clips
UC3XTzVzaHQEd30rQbuvCtTQ #Last week tonight
UCWOA1ZGywLbqmigxE4Qlvuw #Netflix
UCtI0Hodo5o5dUb67FeUjDeA #SpaceX
UCINb0wqPz-A0dV9nARjJlOQ #the dodo
UCjgpFI5dU-D1-kh9H1muoxQ #the Hacksmith
UC06E4Y_-ybJgBUMtXx8uNNw #Backyard scientist
