#News
UCXIJgqnII2ZOINSWNOGFThA #Fox
UC8p1vwvWtl6T73JiExfWs1g #CBS
UCCj956IF62FbT7Gouszaj9w #BBC
UCblRUzFBLHQvxcnbD6WCoSw #ABC
UCaXkIU1QidjPwiAYu6GcHjg #MSNBC
UChDKyKQ59fYz3JO2fl0Z6sg #TODAY
UCblRUzFBLHQvxcnbD6WCoSw #Vice-tv
UCEAZeUIeJs0IjQiqTCdVSIg #yahoo finance
UCZfsrIV68Oegr5bJgAMLBDA #Huff post
UC52X5wxOL_s5yw0dQk7NtgA #ap
UCrp_UI8XtuYfpiqluWLD7Lw #CNBC
UCo7a6riBFJ3tkeHjvkXPn1g #CNBC internatinoal
UCFUWcce_D9zTeRx6L0rasvw #CNBCprime
UCccjdJEay2hpb5scz61zY6Q #NBC
UCzuqE7-t13O4NIDYJfakrhw #Democracy now
UC8Su5vZCXWRag13H53zWVwA #TIME
UCAeWdyKJXGWmVAXFpgLNNTg #CBS Evening
UCsN32BtMd0IoByjJRNF12cw #60 min
UCHd62-u_v4DvJ8TCFtpi4GA #Wapo

#Food
UCJHA_jMfCvEnv-3kRjTCQXw #Binging with Babish
UCJFp8uSYCjXOMnkUyb3CQ3Q #tasty
UChBEbMKI1eCcejTtmI32UEw #Joshua Weissman

#Politics
UC-3jIAlnQmbbVMV6gR7K8aQ #MR
UC1yBKRuGpC1tSM73A0ZjYjQ #TYTs
UCJdKr0Bgd_5saZYqLCa9mng #Rubin Report
UCnQC_G5Xsjhp9fEJKuIcrSw #Ben Shapiro
UCldfgbzNILYZA4dmDt4Cd6A #Secular Talk
UCvixJtaXuNdMPUGdOPcY8Ag #david pacman

#Sports
UCqZQlzSHbVJrwrn5XvzrzcA #NBC Sport
UCTl3QQTvqHFjurroKxexy2Q #Olympic
UCooTLkxcpnTNx6vfOovfBFA #fox soccer

#Edu
UC9MAhZQQd9egwWCxrwSIsJQ #History
UCX6b17PVsYBQ0ip5gyeme-Q #Crash Course
UCu6mSoMNzHQiBIOCkHUa2Aw #Cody's Lab
UChWv6Pn_zP0rI6lgGt3MyfA #AvE
UCivA7_KLKWo43tFcCkFvydw #applied science
UC4a-Gbdw7vOaccHmFo40b9g #kahn Academy
UCEBb1b_L6zDS3xTUrIALZOw #MIT OpenCourseWare
UCLA_DiR1FfKNvjuUpBHmylQ #NASA
UCZYTClx2T1of7BRZ86-8fow #Sci Show
UCAuUUnT6oDeKwE6v1NGQxug #TED
UCsooa4yRKGN_zEE8iknghZA #TED-Ed
UCsT0YIqwnpJCM-mx7-gSA4Q #TEDx
UCBEA4tDfsIvem3xq7JXjJ8w #Art of Engineering
UC2rzsm1Qi6N1X-wuOg_p0Ng #project farm
UCpa-Zb0ZcQjTCPP1Dx_1M8Q #LegalEagle
UC2C_jShtL725hvbm1arSV9w #CGP grey
UCZ4AMrDcNrfy3X6nsU8-rPg #Econ Explained
UCMOqf8ab-42UUQIdVoKwjlQ #Practical Engineering
UClcE-kVhqyiHCcjYwcpfj9w #live overflow
UCLB7AzTwc6VFZrBsO2ucBMg #Robert Miles
UC9-y-6csu5WGm29I7JiwpnA #computerphile
UCoxcjq-8xIDTYp3uz647V5A #numberphile
UCvBqzzvUBLCs8Y7Axb-jZew #60 symbols
UCu7_D0o48KbfhpEohoP7YSQ #Andreas Spiess
UC6mIxFTvXkWQVEHPsEdflzQ #Great scott
UCJ0-OtVpF0wOKEqT2Z1HEtA #ElectroBoom
UC6107grRI4m0o2-emgoDnAA #SmarterEveryDay
UCHnyfMqiRRG1u-2MsSQLbXA #Veritasium

#Entertainment
UC6E2mP01ZLH_kbAyeazCNdg #Brave wilderness
UCwmZiChSryoWQCZMIQezgTg #BBC earth
UCqOoboPm3uhY_YXhvhmL-WA #Discovery
UCblRUzFBLHQvxcnbD6WCoSw #JRE Clips
UC3XTzVzaHQEd30rQbuvCtTQ #Last week tonight
UCWOA1ZGywLbqmigxE4Qlvuw #Netflix
UCtI0Hodo5o5dUb67FeUjDeA #SpaceX
UCINb0wqPz-A0dV9nARjJlOQ #the dodo
UCjgpFI5dU-D1-kh9H1muoxQ #the Hacksmith
UC06E4Y_-ybJgBUMtXx8uNNw #Backyard scientist
UCX6OQ3DkcsbYNE6H8uQQuVA #Mr. Beast
UCo8bcnLyZH8tBIH9V1mLgqQ #The odd ones out
UC1zZE_kJ8rQHgLTVfobLi_g #King of random
UCw6s_N3IQI4sswTSfLoIUrA #funny news
UCb0xfM3HGOsqPYNAocXXNAQ #tru tv
UCgPClNr5VSYC3syrDUIlzLw #adult swim
UCXBf8WHCrixdfPrtlu61vJg #dream vine
UCYzPXprvl5Y-Sf0g4vX-m6g #jack septic eye
UCIsbLox_y9dCIMLd8tdC6qg #vanity fair
UCJLZe_NoiG0hT7QCX_9vmqw #i did a thing
UCtHaxi4GTYDpJgMSGy7AeSw #michael reeves
UCfMJ2MchTSW2kWaT0kK94Yw #william osman
UCmvqviNx70U0l4ZcvUAXxhA #top 5 best
UCqFzWxSCi39LnW1JKFR3efg #SNL
UCpIafFPGutTAKOBHMtGen7g #gus johnson
UCDWIvJwLJsE4LG1Atne2blQ #h3h3
UCZZHPXsg6LopvdOKF7qM6cQ #h3h3 podcast highlights
UCKOvOaJv4GK-oDqx-sj7VVg #chubbyemu
UCl2mFZoRqjw_ELax4Yisf6w #louis Rossmann
UCtM5z2gkrGRuWd0JQMx76qA #bigclivedotcom
UCp68_FLety0O-n9QU6phsgw #colinfurze
UCFtc3XdXgLFwhlDajMGK69w #Nighthawkinlight
